body {
  background-color: #fcfcfc;
}

h1 {
  margin-top: 10px;
}

dt {
  font-weight: bold;
}

.collection .collection-item {
  padding: 0;
}

.hero-item {
  padding: 10px 20px;
  display: block;
}

.home-component {
  text-align: center;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.full-width {
  width: 100%;
}